@charset "euc-kr";
/* style author:nomi(nomi@dbays.com) */

/* layout */
html,body{width:100%;height:100%;}
#wrap {position:relative;width:100%;display:block;}
#header,#container {display:block;}
#header {max-width:1240px;min-width:800px;width:100%;height:145px;}
#container {margin-bottom:30px;max-width:1240px;min-width:800px;width:100%;}
#footer {float:left;max-width:1240px;min-width:800px;width:100%;}
#article {float:right;max-width:1032px;min-width:753px;width:100%;display:block;color:#6d7586;}
#foot_wrap {float:right;padding:15px 0 0 0;max-width:1032px;min-width:753px;width:100%;}
#wrap, #header,#container {display:block;overflow:hidden;}

.nanum,
.nanum a,
.nanum a:focus,
.nanum a:hover,
.nanum a:active  {font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,'굴림',Gulim,AppleGothic,Tahoma,sans-serif;}

/* 본문바로가기 */
.skip a {display: block;position: absolute;left: 0;top: -5000px;z-index: 9000;width: 100%;background: #0072B8;color: white;font-weight: bold;font-size: 1.0em;text-align: center;}
.skip a:hover, .skip a:focus, .skip a:active {position: absolute;top: 0;padding: 10px 0;font-weight: bold;color: white;background: #777a82;z-index: 500;}

/* logo */
#header h1 a {position:relative;float:left;margin:60px 0 0 40px;width:179px;height:33px;display:block;overflow:hidden;z-index: 1000;}
#header span.language a {position:relative;float:right;width:75px;height:35px;background: url(../images/gnb_english.gif) no-repeat;text-indent:-9000px;z-index: 1000;}
#header span.language a:hover {background: url(../images/gnb_english_on.gif) no-repeat;}

.sgnb_bg_color1 {background:#76b9e0;}
.sgnb_bg_color2 {background:#8fbad9;}
.sgnb_bg_color3 {background:#629dca;}
.sgnb_bg_color4 {background:#496a9a;}
hr {border:0;border-top:1px solid #ebebeb;height:1px;list-style:none;}

/* navigation */
.gnb_wrap {width:100%;height:204px;overflow:hidden}
.gnb_wrap img {position:relative;float:left;top:1px;left:0;z-index:10;}
.sub_gnb {position:absolute;top:175px;left:0;width:100%;height:140px;display:block;}
.sub_gnb > ul {position:relative;max-width:784px;min-width:568px;max-width:786px \0/IE8+9;min-width:570px \0/IE8+9;*max-width:786px;*min-width:568px;padding-right:407px;margin-left:47px;z-index: 1000;}
.sub_gnb ul li {float:left;width:25%;display:inline;overflow:hidden;}
.sub_gnb ul li.navi > a {width:100%;height:35px;line-height:35px;background:#d9e9f1 url(../images/gnb_off.png) no-repeat;display:block;text-indent:-9000px;}
.sub_gnb ul li.navi > a:hover {background:#d9e9f1 url(../images/sub/sub_gnb_on.png) no-repeat;}
.sub_gnb ul li.navi a.library_intro {background-position: 35px 0;}
.sub_gnb ul li.navi a.library_service {background-position:35px -35px;}
.sub_gnb ul li.navi a.library_data {background-position:35px -70px;}
.sub_gnb ul li.navi a.library_info {background-position:35px -105px;}
.sub_gnb ul li ul {position:relative;padding-left:20%;margin-top:5px;width:100%;height:auto;display:block;overflow:hidden;}
.sub_gnb ul li ul li {width:100%;line-height:18px;display:block;}
.sub_gnb ul li ul li a {color:#fff;text-decoration: none;}
.sub_gnb ul li ul li a:hover {color:#333333;}
.sub_gnb ul li.s_sub_menu a{color:#333;}

.sub_title {position:absolute;top:100px;max-width:1240px;min-width:1022px;width:100%;display:block;overflow:hidden;z-index: 9000;}
.sub_title p {float:right;padding-right:425px;width:auto;height:auto;}

.img_wrap {position:absolute;width:100%;max-width:1240px;min-width:1024px;*max-width:1242px;*min-width:1022px;top:-175px;*left:0;*z-index: -10;overflow:hidden;}
.img_wrap div {float:right;width:409px;width:407px \0/IE8+9;*width:407px;height:315px;background:#fff;display:block;overflow:hidden}
.img_wrap div img {position:relative;width:360px;height:265px;left:50%;margin-left:-180px;top:50px;display:block}

/* sub container */
#article div.pg_path {padding-right:10px;font-size:1.35em;color:#499bca;text-align:right;}
#article {*left:0;}
#article h3 {*position:relative;*background:#ecf4f8;*display:block;*max-width:1032px;}
#article h3.pg_subject {padding:20px;margin:22px 0 26px 47px;max-width:985px;*max-width:none;background:#ecf4f8;line-height:20px;font-size:14px;font-weight:bold;color:#499bca;}
#article h3.pg_subject div {display:none;}
#article .section {margin:0 0 45px 47px;max-width:985px;display:block;overflow:hidden;}
#article .section h1 {*position: relative;margin-bottom:15px;font-size:0;font-weight:bold;color:#fff;}
#article .section h1.title_service {margin-left:450px;font-size:0;font-weight:bold;color:#fff;}
#article .section h1.top_service {margin-left:0;}
#article .section h4.title_service {position: relative;margin:20px 0 0 450px;margin-bottom:5px;height:20px;font-size:0;font-weight:bold;color:#fff;}

#article .section h1 p.right_bu {display:inline;width:65%;*width:62%;font-size: 0;margin-bottom:5px;}
#article .section h1 p.book_bu {display:inline;width:65%;*width:62%;font-size: 0;margin-bottom:5px;}

#article .section .r_button {float:right;*position:absolute;top:0;right:0;line-height:21px;vertical-align:middle}
#article .section .r_button a {float:right;padding:0 10px;height:21px;font-size:11px;line-height:21px;background:#707070;color:#FFFFFF;text-indent:0px;text-align: center;text-decoration: none;vertical-align:middle}
#article .section .r_button a:hover {background:#496a9a;}

#article .section .about_button {float:right;top:0;right:0;line-height:21px;vertical-align:middle;margin-top:20px;*clear:both;*float:none;}
#article .section .about_button a {float:right;padding:5px 15px;height:21px;font-size:11px;line-height:21px;background:#496a9a;color:#FFFFFF;text-indent:0px;text-align: center;text-decoration: none;vertical-align:middle}
#article .section .about_button a:hover {background:#707070;}

#article .section .buttom p a.faq_button {font-weight: bold;line-height:21px;}
#article .section .buttom p a.faq_button {margin-left:7px;padding:0 10px;height:21px;font-size:11px;line-height:21px;background:#707070;color:#FFFFFF;text-indent:0px;text-align: center;text-decoration: none;display:inline-block;}
#article .section .buttom p a:hover.faq_button {background:#496a9a;}

#article .section .mobile_button {display:none;}
#article .section div {position:relative;float:left;padding-right:10px;line-height:18px;display:block}/*border-left:solid 3px #76b9e0;*/
#article .section div img {float:left}
#article .section div p {padding-left:10px;padding-right:0;max-width:985px;line-height:24px;border-left:solid 3px #76b9e0;text-align:justify}
#article .section div p.service_right {display:block;min-width:250px;margin:0 0 20px 450px;}
#article .section div.about_img {float:right;width:378px;padding-right: 0;margin-left:12px;}
#article .section div.service_img {float:left;width:364px;height:410px;}
#article .service_padd {margin-bottom:35px;}
#article .section .title_margin {padding-top:20px;}
#article .section h4.service_margin {margin-left:0px;clear:both;}
#article .section div p.service_margin {margin-left:0px;}
#article .section div p.service_padd {margin-bottom:0px;}
#article .section div .service_qr {margin-top:120px;*margin-top:25px;}
#article .section p.bullet {border-left:0;padding-left:13px;background: url(../images/sub/service_bullet.png) no-repeat left 9px;}
#article .section div.learning {position:absolute;top:45px;left:38px;z-index: 10;width:200px;}
#article .section div.learning li {padding:0px;padding-left:8px;height:23px;background: url(../images/sub/service_bullet02.png) no-repeat left 8px;color:#495368;}
#article .section div.education {top:45px;left:225px;}
#article .section div.study {top:270px;left:38px;}
#article .section div.technical {top:270px;left:225px;}
#article .section div p a {color:#4f6aa3;text-decoration: underline;}
#article .section div p span.pink {padding-left:5px;color:#f01c67;font-weight: bold;}
#article .section div p img {float: none;vertical-align:middle}
#article .section div.qrcode {position:relative;float: left;padding:5px 0 0 15px;height:60px;}

#article div.about_info {height:auto;background:url(../images/sub/about_sangnam.png) no-repeat 0 35px}
#article div.about_info p {position:relative;margin-left:343px;line-height:24px;border-left:solid 3px #76b9e0;text-align:justify}
#article div.about_diagram {width:100%;height:325px;background:url(../images/sub/about_diagram.png) no-repeat 0 -30px}
#article div.about_diagram p {position:relative;left:420px;top:40px;}

/* 발자취*/
#article div.section img.image_mobile {display:none;}
.history_margin {padding-top:33px;padding-bottom:40px;}
#article .section div ul.years_h {margin: 0 0 25px 0;position: relative;}
#article .section div ul li {position: relative;padding: 5px 0 0 3px;color: #7F7F7F;font-size: 12px;}
#article .section div ul li p {border:0;padding-left: 0;line-height: 18px;}
#article .section div ul.years_h li .title {float: left;width: 54px;color: #479ED3;font-size: 14px;font-weight: bold;color:#499bca;}
#article .section div ul.years_h li .title02 {float: left;width: 54px;color: #479ED3;font-size: 14px;font-weight: bold;color:#499bca;}
#article .section div ul.years_h li .title_color {color:#496a9a;}
#article .section div ul.years_h li .text {padding-left: 89px;*padding-left: 35px;color:#495368;}
#article .section div ul.years_h li .text span {margin-left: -35px;color:#495368;}

/* LG ELIT*/
#article .section div .line {top: -30px;z-index:0;*background: url(../images/sub/service_elit.png) no-repeat left top; *width:364px;*height:410px;}
#article div.section img.no_img_ie7 {*display:none;}
#article .section .faq_button_mobile {display:none;}
#article .section div p span.pink a {padding-left:5px;color:#f01c67;font-weight: bold;text-decoration: none;}
#article .section h4.selit_margin {margin-top:0px;}

/* 학술비디오 FAQ*/
.learning_title {position: relative;width:120px;height:22px;margin-top:15px;line-height:22px;color:#FFF;text-align:center;font-weight: bold;font-size: 1.0em;background: #499bca;}
.lea_title {clear:both;height:auto;margin-top:15px;padding-left:15px;padding-bottom:5px;line-height:22px;color:#FFF;text-align:left;font-weight: bold;font-size: 1.0em;display:block;border-bottom:1px solid #dbdbdb;}
.lea_anw {padding-top: 5px;padding-left:15px;padding-bottom:10px;font-size: 12px;line-height: 16px;color: #495368;border-left: 0;text-align: left; border-bottom:1px dashed #9c9c9c;}
.lea_question {margin-left:-15px;width:35px;}
.lea_answer {padding-top: 5px;padding-bottom:10px;font-size: 12px;line-height: 16px;color: #495368;border-left: 0;text-align: left; border-bottom:1px dashed #9c9c9c;}
#article .lea_margin {margin-bottom:5px;}

/* LG사이언스랜드*/
#article .section .back a {background: #707070;margin-bottom:5px;}
#article .section div .line02 {top: -20px;z-index:0;}
#article .section div .line_lg {top: -30px;z-index:0;*background: url(../images/sub/service_elit02.png) no-repeat left top; *width:364px;*height:410px;}
#article .section a.land_button {margin-left:10px;margin-top:-2px;padding:0 10px;height:21px;font-size:11px;line-height:21px;background:#707070;color:#FFFFFF;text-indent:0px;font-weight: bold;text-align: center;text-decoration: none;display:inline-block;}
#article .section a:hover.land_button {background:#496a9a;}
#article .section div p.service_padd.land_margin {margin:70px 0 0 0;*margin:10px 0 0 0;clear:both;}
#article .section .sland_button {display:none;}
#article .section div .land_qr {margin-top:250px;*margin-top:55px;}
#article .section .sland_button02 {display:none;}
#article .section .lg_button {display:none;}
#article .section div.ios_qrcode {position:relative;float: left;padding:5px 0 0 15px;height:60px;}
#article .section div.and_qrcode {position:relative;float: left;padding:5px 0 0 15px;height:60px;}

#article .data table.land_table {margin-top:30px;width:100%;font-weight:bold;border-collapse:collapse;}
#article .data table.land_table tr th {padding:10px 0;border:1px solid #fff;background:#76b9e0;color:#fff}
#article .data table.land_table tr td {padding:10px 0;text-align:center;border:1px solid #cacaca;background:#ecf4f8;color:#495368;vertical-align: middle;}
#article .data table.land_table tr td.first {border-left:1px solid #fff;line-height:20px;}
#article .data table.land_table tr td.last {border-right:1px solid #fff;padding-left:10px;padding-right:10px;text-align:left;font-weight:normal;line-height:18px;}
#article .data table.land_table tr td.baseline {vertical-align: baseline;}
#article .data table.land_table col.land01 {width: 10%;}
#article .data table.land_table col.land02 {width: 15%;}
#article .data table.land_table col.land03 {width: 75%;}


/* 책 읽어주는 도서관*/
#article .section div .line_book {top: -25px;z-index:0;*background:none; *width:364px;*height:410px;}
#article .section div.buttom {*width:100%;*clear:both;}
#article .section div.book_img {float:left;width:328px;height:265px;top:-12px;}
#article .section div.book_learning {top:70px;left:55px;}
#article .section div.book_left {left:190px;}
#article .section .book_button {left: 150px;}
#article .section .book_button02 {left: 120px;}
#article .section h4.book_magin {float:left;display:block;width:100%;}
#article .section div .land_qr02 {margin-top:170px;*margin-top:25px;}

/*도서관 자료실*/
#article .data_Status_mb {margin-bottom:90px;}
#article .section .statistics_data p em {font-size:14px;font-style:normal;font-weight:bold;color:#499bca;}
#article .section .data_Status_img {float:left;width:30%}
#article .section .data_Status_img > img {width:100%;height:auto}
#article .section .data_Status {width:66%;padding:0;margin-left:2.5%;height:auto;}
#article .section .data_Status .data {padding:0;width:100%;}
#article .section .data_Status .data .data_list {float:left;padding:0;width:45%;}
#article .section .data_Status .data .use_list {float:right;padding:0;width:50%;}
#article .section .data_Status .data .data_tablet {clear:both;}
#article .section .data_Status .data .use_tablet {float:right;position:absolute;right:20px;}
#article .section .data_Status .data .use_tablet_bottom {float:right;position:absolute;right:0;bottom:0;width:54%;}

#article .section .data_Status_img > img.data_web {display:block;}
#article .section .data_Status_img > img.data_mobile {display:none;}

#article .section .data_Status .data h3 {font-size:12px;font-weight:bold;background:none;color:#499bca}
#article .section .data_Status .data ul {margin:0;}
#article .section .data_Status .data ul li {width:90%;background: url(../images/sub/data_bullet.png) no-repeat left 11px;padding-left:10px;padding-bottom:3px;line-height:16px;text-align:justify;color:#76b9e0}
#article .section .data_Status .data ul li > span {color:#6d7586;}
#article .section .data_Status .data p {width:100%;border:none;padding:0}
#article .section .data_Status .data .data_total {padding-right:10px;margin-top:20px;max-width:195px;height:27px;line-height:2.4;text-align:right;background:#496a9a;color:#fff}
#article .section .data_Status .data p span {float:left;padding:0 2% 0 1%;margin:20px 2% 0 0;width:47%;max-width:150px;height:27px;line-height:2.4;color:#fff;text-align:right;}
#article .section .data_Status .data p em.data_bold {font-weight:bold;font-style: normal;}
#article .section .data_Status .data p span:last-of-type {margin-right:0}
#article .section .data_Status .data p span.light_blue {background:#8fbad9;}
#article .section .data_Status .data p span.dark_blue  {background:#629dca;}

#article .data {max-width:985px;}
#article .data h1 {padding-bottom:16px;border-bottom:2px solid #dbdbdb}
#article .data ul {margin:50px auto 0 auto;width:100%;max-width:903px;overflow:hidden;}
#article .data ul li {float:left;margin-right:10%;width:26%;max-width:235px;}
#article .data ul li.last {margin-right:0}
#article .data ul li p {margin-top:15px;line-height:18px;text-align:center}
#article .data ul li img {width:100%;height:auto}

#article .data table {margin-top:30px;width:100%;font-weight:bold;border-collapse:collapse}
#article .data table tr th {padding:10px 0;border:1px solid #fff;background:#76b9e0;color:#fff}
#article .data table tr td {padding:10px 0;text-align:center;border:1px solid #cacaca;background:#ecf4f8;color:#495368;}
#article .data table tr td.first {border-left:1px solid #fff;}
#article .data table tr td.last {width:15%;border-right:1px solid #fff;padding-left:35px;padding-right:10px;text-align:left}

#article .data table.download tr td {padding:20px 20px 0 20px;font-weight:normal;text-align:left;vertical-align:middle;}
#article .data table.download tr td.last a {float:left;background: url(../images/sub/down_btn.png) no-repeat left top;width:100px;height:34px;font-size:0;text-indent:-9999px;}
#article .data table.download tr td.last a:hover {background: url(../images/sub/down_btn_ov.png) no-repeat left top;}
#article .data table.download tr td p {margin-bottom:10px;line-height:1.8;}
#article .data table.download tr td p strong {font-weight:bold}
#article .data table.download tr td.first {width:85%;border-left:1px solid #fff;}


/*시설안내*/
#article .section .info_facilities {width:100%;max-width:985px;overflow:hidden;}
#article .section .info_facilities table {float:left;margin-left:18px;max-width:352px;height:auto;border-collapse:collapse;}
#article .section .info_facilities th {padding:9px 0 9px 12px;width:59px;text-align:center;vertical-align: middle;font-size:0;text-indent:-9000px;border-right:3px solid #FFF;border-bottom:3px solid #FFF;}
#article .section .info_facilities thead td {padding:9px 7px 9px 14px;width:231px;text-align:left;vertical-align: middle;font-size:0;text-indent:-9000px;border-right:3px solid #FFF;border-bottom:3px solid #FFF;color:#FFF;}
#article .section .info_facilities tbody td {padding:9px 7px 9px 14px;width:231px;text-align:left;vertical-align: middle;font-size:0;text-indent:-9000px;border-right:3px solid #FFF;border-bottom:3px solid #FFF;color:#F3F8FA;}
#article .section .bg_black {background:#000000;color:#fff}
#article .section .bg_gray {background:#d7dfe4;color:#000}
#article .section .bg_azure {background:#f3f8fa;color:#000}


/*담당 및 연락처*/
#article .section .info_customer {width:99%;height:auto;border-spacing:3px;border-collapse: collapse;}
#article .section .info_customer th,
#article .section .info_customer td {width:50%;height:32px;line-height:32px;text-align:center;vertical-align:middle;font-weight:normal;border-bottom:3px solid #FFF;}
#article .section .info_customer th {border-right:3px solid #FFF;}




/*지도*/
#article .section .article {width:100%;}
#article .section .article .map_info {width:45%;height:auto}
#article .section .mobile_map_info {display:none;}
#article .section .article .map_wrap {float:right;width:52%;height:auto;padding:0;margin-right:10px;height:362px;}
#article .section .article .map_wrap .map {float:right;padding:3px;width:100%;max-width:458px;height:356px;background:#ccc;overflow:hidden}
#article .section .article .map_wrap ul.map_button {position:absolute;bottom:3px;padding:9px 0 6px 0;width:100%;max-width:458px;background:#ccc;opacity:0.9;z-index: 1000;bottom:0;}
#article .section .article .map_wrap ul.map_button li {float:left;width:31%;padding:0;margin:0 0 0 1.6%;height:33px;}
#article .section .article .map_wrap ul.map_button li img {width:100%;height:auto;}
#article .section .article .tab-cont {width:100%;height:100%;}

/*교통편*/
#article .section .traffic_label {padding:0;margin-bottom:8px;margin-left:15px;border:none;line-height:18px;text-indent:0px;}
#article .section .map_info p.map_color {color:#000;*margin:3px 0;}
#article .section .traffic_label em {float:left;margin-right:7px;background:url(../images/sub/traffic_label.png) no-repeat 0 0;display:inline-block;text-indent:-999px;font-size:0;}
#article .section .traffic_label em.trunk {width:34px;height:16px;background-position: left top;}
#article .section .traffic_label em.branch {width:34px;height:16px;background-position: 0 -16px;}
#article .section .traffic_label em.subway {width:46px;height:16px;background-position: 0 -32px;}

/* form table */
#article .tour_list h1 {float:left}
#article .tour_list > a {float:right;margin-right:3px;}
#article .section .tour_list_table {width:100%;border-spacing:3px;border-collapse:collapse;}
#article .section .tour_list_table tr {height:29px;text-align:center;background:#d7dee4;color:#4f5458}
#article .section .tour_list_table tr.odd {background:#f3f8fb}
#article .section .tour_list_table th,
#article .section .tour_list_table td {vertical-align:middle;border-bottom:3px solid #FFF;border-right:3px solid #FFF;padding:5px 0;height:20px;}
#article .section .tour_list_table th {background:#000;color:#fff;font-weight:normal;}
#article .section .tour_list_table td a.edit_img {float:left;background:url(../images/sub/edit_btn.png) no-repeat center top;width:93px; height:21px;text-indent:-999px;font-size:0;padding:0;}
#article .section .tour_list_table col.num01 {width: 8%;}
#article .section .tour_list_table col.num02 {width: 28%;}
#article .section .tour_list_table col.num03 {width: 8%;}
#article .section .tour_list_table col.num04 {width: 19%;}
#article .section .tour_list_table col.num05 {width: 19%;}
#article .section .tour_list_table col.num06 {width: 12%;}
#article .section .tour_list_table col.num07 {width: 6%;}

#article .tour_list .paginate {width:100%;padding:20px 0;text-align:center;line-height:normal}
#article .tour_list .paginate a {padding:0 10px;text-align:center;}
#article .tour_list .paginate *{display:inline-block;position:relative;margin:0 -2px;padding:2px 4px;font-size:11px;font-family:Tahoma, Sans-serif;color:#333;line-height:normal;text-decoration:none;vertical-align:middle}
#article .tour_list .paginate a:hover,
#article .tour_list .paginate a:active,
#article .tour_list .paginate a:focus {background-color:#f8f8f8}
#article .tour_list .paginate strong {color:#5878ff}
#article .tour_list .paginate .direction 
#article .tour_list .paginate .direction:hover,
#article .tour_list .paginate .direction:active,
#article .tour_list .paginate .direction:focus {background-color:transparent !important;color:#333}


#article .section .request_table tr.request_mobile {display:none;}
#article .section .request_table tr.request_web {display:table-row;}
#article .section .table_title {float:left;width:100%;line-height:22px;height:35px;padding-right:0;*padding:0;}
#article .section .table_title h1 {float:left;width:30%; background:url(../images/sub/h_info01.png) no-repeat 0 0;margin-bottom:0;height:22px;text-indent:-9000px;}
#article .section .table_title h1.request_edit {float:left;width:30%; background:url(../images/sub/h_info02.png) no-repeat 0 0;margin-bottom:0;height:22px;text-indent:-9000px;}
#article .section .table_title span {float:right;width:138px;height:33px;background:url(../images/sub/need_text.png) no-repeat 0 bottom;font-size:0;text-indent:-9000px;color:#FFF;vertical-align: middle;bottom:0;}
#article .section .tour_application {position:relative;clear:both;width:100%;margin-bottom:30px;}
#article .section .tour_application p {margin:5px 0}
#article .section .tour_application p img {margin-right:3px;vertical-align: top}
#article .section .request_table {width:100%;border-spacing:4px;border-collapse:collapse;}
#article .section .request_table th {width:25%;height:42px;background:#86c6eb;font-size:0;text-indent:-999px;color:#86c6eb;vertical-align: middle;border-bottom:4px solid #FFF;}
#article .section .request_table th.header_left {width:15%;border-right:3px solid #FFF;text-indent:-9000px;}
#article .section .request_table th.header_w {width:8%;}
#article .section .request_table td {padding:7px;background:#d5dbdf;border-bottom:4px solid #FFF;}
#article .section .request_table td p {margin-top:10px !important;color:#000000;}
#article .section .request_table th img {margin-right:3px;vertical-align: top}
#article .section .request_table input {height:18px;padding:5px;width:98.5%;border:none;border:0;}
#article .section .request_table input.input_size {padding:5px;width:97.5%;*width:96.5%;border:none;border:0;}
#article .section .request_table textarea {padding:5px;width:98.5%;height:70px;resize:none;border:none;border: 1px solid #FFF;}
#article .section .tour_application div.form_btn {clear:both;float:right !important;margin:5px 0 0;padding:0 !important;}
#article .section .tour_application div.form_btn span {margin-right:7px;}
#article .section .tour_application div.form_btn span:last-child {margin-right:0}
#article .section .tour_application input[type=submit] {width:100px;height:30px;background:#7d7d7d;border:none;color:#fff;cursor:pointer;font-size:13px;}
#article .section .tour_application .request_table td div.date input {width:85px;vertical-align: middle;}
#article .section .tour_application .request_table td div label {display:inline;color:#434343;padding-right:24px;font-size:13px;}
#article div.section img.web_noimage {display:none;}
#article .section .request_table th.mail {background: #86c6eb url(../images/sub/request_title01.png) no-repeat center 14px;}
#article .section .request_table th.passwd {background: #86c6eb url(../images/sub/request_title02.png) no-repeat center 14px;}
#article .section .request_table th.visit {background: #86c6eb url(../images/sub/request_title03.png) no-repeat center 38px;}
#article .section .request_table th.header_left02 {background: #86c6eb url(../images/sub/request_title04.png) no-repeat center 40px;}
#article .section .request_table th.organ {background: #86c6eb url(../images/sub/request_title05.png) no-repeat center 14px;width:10%;}
#article .section .request_table th.responsible {background: #86c6eb url(../images/sub/request_title09.png) no-repeat center 14px;}
#article .section .request_table th.phone {background: #86c6eb url(../images/sub/request_title06.png) no-repeat center 14px;width:10%;}
#article .section .request_table th.personnel {background: #86c6eb url(../images/sub/request_title10.png) no-repeat center 14px;}
#article .section .request_table th.date02 {background: #86c6eb url(../images/sub/request_title07.png) no-repeat center 14px;}
#article .section .request_table th.language {background: #86c6eb url(../images/sub/request_title08.png) no-repeat center 40px;}

/*공통부분*/
#article .section .common_box {padding:0;width:99%;border:1px solid #e1e1e1}
#article .section .common_box p {border:none;padding:0;line-height:24px;text-align:center;}
#article .section .common_box p.mb50 {padding-bottom:50px;}
#article .section .common_box p.mobile_emil {display:none;}
#article .section .common_box .sitemap {padding:0;margin:0 auto;width:100%;*padding-bottom:50px;}
#article .section .common_box .sitemap ul {float:left;margin:50px 7% 50px 0;width:16%;}
#article .section .common_box .sitemap ul a {text-decoration: none;}
#article .section .common_box .sitemap ul a:hover {font-weight:bold;}
#article .section .common_box .sitemap ul.first {margin-left:7%;}
#article .section .common_box .sitemap ul.last {margin-right:0;}
#article .section .common_box .sitemap ul li h2 {font-size:0;color:#FFF;}
#article .section .common_box .sitemap ul li {width:100%;max-width:160px;height:36px;line-height:36px;border-bottom:1px solid #e1e1e1;}
#article .section .common_box .sitemap ul li.under {background:url(../images/sub/h2_sitemap_bg.png) no-repeat left bottom;border:none;overflow:hidden}
#article .section .common_box .sitemap ul li.border_none {border:none}

#article .section .privacy_box {padding:0;width:99%;height:600px;border:1px solid #e1e1e1;color:#495368;overflow-y:scroll;*overflow:hidden}
#article .section .privacy_box p.privacy_top {padding:24px;margin:22px 22px 35px;line-height:24px;background:#f9f9f9;border:1px solid #e1e1e1;font-weight:bold;text-align:center}
#article .section .privacy_box p strong {color:#499bca}
#article .section .privacy_box .privacy_section {width:94%;padding:0 22px 35px;overflow:hidden}
#article .section .privacy_box .privacy_section h4 {line-height:24px;font-size:14px;font-weight:bold;}
#article .section .privacy_box .privacy_section p {border:none;padding:0;line-height:24px;text-align:left}
#article .section .privacy_box .privacy_section dl {margin-left:8px;overflow:hidden}
#article .section .privacy_box .privacy_section dl dt {float:left;padding-left:8px;margin:0 8px 0 0;line-height:24px;background:url(../images/sub/privacy_bullet.png) no-repeat 0 50%;font-weight:bold}
#article .section .privacy_box .privacy_section dl dd {line-height:24px;padding-right:10px;overflow:hidden}
#article .section .privacy_box .privacy_section ul {margin-left:8px;overflow:hidden}
#article .section .privacy_box .privacy_section li {padding:0 0 0 8px;line-height:24px;background:url(../images/sub/privacy_bullet.png) no-repeat 0 50%;color:#495368;}
#article .section .privacy_box .privacy_section li strong,
#article .section .privacy_box .privacy_section li em {font-weight:bold;font-style:normal}
#article .section .privacy_box .privacy_section li.none {background:none}
#article .section .privacy_box .privacy_section ol li {background:none}

/* footer*/
#foot_wrap .foot_ctn {float:left;margin-left:47px;width:100%;max-width:985px;}
/* family site*/
#foot_wrap .foot_ctn .family_site {position:relative;float:left;width:154px; height:21px; margin:0; line-height:21px; text-indent:10px;}
#foot_wrap .foot_ctn .family_title {cursor:pointer; float:left;padding-left:10px;width:128px;height:21px; line-height:2.2;background: url(../images/copy_menu_off.png) no-repeat -1px -4px;font-size:11px;color:#707070;text-indent:0;}
#foot_wrap .foot_ctn .family_title_on {background: url(../images/copy_menu_on.png) no-repeat -1px -4px; width:128px; height:23px;color:#629dca;text-decoration: none;}
#foot_wrap .foot_ctn .family_title a {width:128px; height:21px;color:#707070;text-decoration: none;}
#foot_wrap .foot_ctn .family_title a:hover {width:128px; height:21px;color:#629dca;text-decoration: none;}
#foot_wrap .foot_ctn .family_list {overflow:hidden; position:absolute; left:0; bottom:21px; width:135px; height:0px; background: #FFF;border-left:1px solid #707070;border-right:1px solid #707070;}
#foot_wrap .foot_ctn .family_list li {width:138px; height:22px; background: url(../images/bg_family_li.png) repeat-y left top;}
#foot_wrap .foot_ctn .family_list li.first {background: url(../images/bg_family.png) no-repeat left top;border-top:1px solid #707070;}
#foot_wrap .foot_ctn .family_list li.last {padding:1px 3px 3px 1px !important; background: url(../images/bg_family.png) no-repeat right bottom;border-bottom:1px solid #707070;}
#foot_wrap .foot_ctn .family_list li a {display:block; width:100%; height:22px; line-height:24px;font-size:8pt}
#foot_wrap .foot_ctn .family_list li a:hover {width:100%; height:22px; line-height:24px;color:#629dca;text-decoration: none;}
/* select site*/
#foot_wrap .foot_ctn .select_title {cursor:pointer; float:left;background: url(../images/copy_menu_off.png) no-repeat -147px -4px;font-size:11px;color:#707070;text-indent:0; height:21px;line-height:2.2; width:128px;z-index:3;padding-left:10px;}
#foot_wrap .foot_ctn .select_title_on {background: url(../images/copy_menu_on.png) no-repeat -147px -4px; width:128px; height:23px;}
#foot_wrap .foot_ctn .select_title a {width:128px; height:21px;color:#707070;text-decoration: none;}
#foot_wrap .foot_ctn .select_title a:hover { width:128px; height:21px; color:#629dca;text-decoration: none;}
/* foot navigation bar*/
#foot_wrap .foot_ctn .fnb {position:relative;float:left;height:21px;line-height:21px;}
#foot_wrap .foot_ctn .fnb a {float:left;background: url(../images/copy_menu_off.png) no-repeat -276px -4px;font-size:0;text-indent:-9000px; height:21px;}
#foot_wrap .foot_ctn .fnb a:hover {background: url(../images/copy_menu_on.png) no-repeat -276px -4px;}
#foot_wrap .foot_ctn .fnb a.end {background: none}
#foot_wrap .foot_ctn .fnb a.family_menu03 {width:119px; background-position:-289px -4px;}
#foot_wrap .foot_ctn .fnb a.family_menu04 {width:133px; background-position:-409px -4px;}
#foot_wrap .foot_ctn .fnb a.family_menu05 {width:60px; background-position:-542px -4px;}
/* copyright*/
#foot_wrap address.copy {float:left;margin:15px 0 0 47px; width:100%;max-width:985px;height:50px;background: url(../images/copy.png) no-repeat left top;font-size:0;text-indent:-9999px;}

